
.css-17a47lx-MuiTypography-root{
    font-weight: 550;
    margin: 1rem !important;
}

.css-1ygil4i-MuiToolbar-root{
    margin: 2rem 0rem;
}

.css-i9gxme{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;    
}