.css-jvk304-MuiPaper-root-MuiAppBar-root{
    background-color: #f7ebebff !important;
    color: #00854c !important;
    width: 60%  !important;
    margin: auto;
    border-radius: 10px;
}

.css-1miy0lu-MuiTypography-root{
    font-weight: 700 !important;
}

.css-17a47lx-MuiTypography-root{
    font-weight: 550;
}

.css-1ygil4i-MuiToolbar-root{
    margin: 2rem 0rem;
}

.css-i9gxme{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;    
}